#animated-modal-container {
    &.blowUp {
        z-index:0;
        transform:scale(1);
        .animated-modal-background {
          background:rgba(0,0,0,.7);
          .modal-content {
            animation: BlowUpModalIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
        + #animated-modal-frame {
          z-index:1;
          animation: BlowUpContentIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
        &.out {
          .animated-modal-background {
            .modal-content {
              animation: BlowUpModalOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
          }
          + #animated-modal-frame {
            animation: BlowUpContentOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
      }
}

@keyframes BlowUpContentIn {
  0% {
    transform:scale(1);
    opacity:1;
  }
  99.9% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(0);
  }
}

@keyframes BlowUpContentOut {
  0% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }
}

@keyframes BlowUpModalIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes BlowUpModalOut {
  0% {
    transform:scale(1);
    opacity:1;
  }
  100% {
    transform:scale(0);
    opacity:0;
  }
}