#modal-container {
    &.uncover {
        z-index:0;
        transform:scale(1);
        .modal-background {
          background:rgba(0,0,0,.6);
          .modal {
            animation: UncoverMoveUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
        + .content {
          z-index:1;
          animation: UncoverSlideUpLarge .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
        &.out {
          .modal-background {
            .modal {
              animation: UncoverMoveDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
          }
          + .content {
            animation: UncoverSlideDownLarge .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
      }
}

@keyframes UncoverMoveUp {
  0% {
    transform:translateY(150px);
  }
  100% {
    transform:translateY(0);
  }
}

@keyframes UncoverMoveDown {
  0% {
    transform:translateY(0px);
  }
  100% {
    transform:translateY(150px);
  }
}

@keyframes UncoverSlideUpLarge {
  0% {
    transform:translateY(0%);
  }
  100% {
    transform:translateY(-100%);
  }
}

@keyframes UncoverSlideDownLarge {
  0% {
    transform:translateY(-100%);
  }
  100% {
    transform:translateY(0%);
  }
}