@import "./animationStyles/Unfold.scss";
@import "./animationStyles/Reveal.scss";
@import "./animationStyles/BlowUp.scss";
@import "./animationStyles/Slide.scss";
@import "./animationStyles/Flash.scss";
@import "./animationStyles/Uncover.scss";
@import "./animationStyles/Sketch.scss";

html,body {
  &.modal-active {
    overflow: hidden;
  }
}

#animated-modal-container {
  position:fixed;
  display:table;
  height:100%;
  width:100%;
  top:0;
  left:0;
  transform:scale(0);
  z-index:1;
  
  .animated-modal-background {
    display:table-cell;
    background:rgba(0,0,0,.8);
    text-align:center;
    vertical-align:middle;
    .modal {
      background:white;
      padding:50px;
      display:inline-block;
      border-radius:3px;
      font-weight:300;
      position:relative;
      .modal-svg {
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        border-radius:3px;
        rect {
          stroke: #fff;
          stroke-width: 2px;
          stroke-dasharray: 778;
          stroke-dashoffset: 778;
        }
      }
    }
  }
}
